<form class="form-horizontal">
    @Helpers.Select("ClassRoomSubject", "Class Room and Subject", "ClassRoomSubjects()", "classroomsubjectGuid", 52)  
    @Helpers.Select("Period", "Period", "Periods()", "LessonClassGuid", "disabled", 52)
    @Helpers.Input("Title", "TestName", "required", "Text", 50)             
    @Helpers.Date("Start Time", "StartTime", "required")  
    @Helpers.Date("End Time", "EndTime", "required")
    @Helpers.Input("Out Of", "OutOf", "required digits", "text", 50)
    @Helpers.Date("Date", "GivenDate", "required")
    @Helpers.TextArea("Information", "TestInformation", "required", "Text", 50, 5, false)
</form>