@model SMS.Models.LocalPasswordModel

@*<h3>Change password</h3>*@

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="container-fluid">

            <ul class="breadcrumb">
                <li>You are here: <a href="~/Home/Index" class="glyphicons home"><i></i>Home</a></li>
                <li class="divider"></li>
                <li>Change Password</li>
            </ul>

            <div class="separator bottom"></div>

            <div class="innerLR">
                <div class="widget">
                    <div class="widget-head">
                        <h4 class="heading glyphicons cardio">
                            <i></i>Change Password
                        </h4>
                    </div>
                    <div class="widget-body">
                        <div class="control-group">
                            <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
                            <br />
                            @Html.LabelFor(m => m.OldPassword)
                            @Html.PasswordFor(m => m.OldPassword)

                            @Html.LabelFor(m => m.NewPassword)
                            @Html.PasswordFor(m => m.NewPassword)

                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword)

                        </div>
                    <input type="submit" value="Change password" />
                </div>
            </div>
        </div>

    </div>
}
